@using MyLifeStyle.Web.ViewModels.Articles
@model IEnumerable<AllArticlesViewModel>

@{
    this.ViewData["Title"] = "All Articles";
}

<h2>@this.ViewData["Title"]</h2>

<partial name="_AllArticlesPartial" />