@using MyLifeStyle.Web.ViewModels.Articles
@model IEnumerable<AllArticlesByCategoryViewModel>

@{
    this.ViewData["Title"] = "Articles";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var article in Model)
{
    <div>@article.PublicationTitle, @article.PublicationCreatedOn, (@article.CommentsCount) commets</div>
}