@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyLifeStyle!</h1>
</div>


<div class="card-deck">
    <div class="card">
        <img src="~/images/6061.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Social Media</h5>
            <p class="card-text">MyLifeStyle is a social media for sharing of information and ideas for way of living in different areas of life. Users can share ideas, digital photos, posts, and to inform others about online or real-world activities and events.</p>
            @*<p class="card-text"><small class="text-muted">Click to view more</small></p>*@
        </div>
    </div>
    <div class="card">
        <img src="~/images/6062.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cooking Recipe</h5>
            <p class="card-text">Favourite meals from worldly cuisines- find the version of a recipe to suit you. Users can add their delicious recipes.</p>
            @*<p class="card-text"><small class="text-muted">Click to view more</small></p>*@
        </div>
    </div>
    <div class="card">
        <img src="~/images/6063.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Interesting Articles</h5>
            <p class="card-text">Users can create articles in different categories, such as health, sport, arts, literature, ecology and many more. Users can leave a comments to discuss the publications and ideas.</p>
            @*<p class="card-text"><small class="text-muted">Click to view more</small></p>*@
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <img src="~/images/6064.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Books Exchange</h5>
            <p class="card-text">Users can add readed book to list of books for second hand exchange or to take one to read.</p>
            @*<p class="card-text"><small class="text-muted">Click to view more</small></p>*@
        </div>
    </div>
    <div class="card">
        <img src="~/images/6065.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Upcoming Events</h5>
            <p class="card-text">Users can organise events and to post information about their events. Everybody can see the details and to decide to join. Users can leave a comments on publication about chosen event.</p>
            @*<p class="card-text"><small class="text-muted">Click to view more</small></p>*@
        </div>
    </div>
    <div class="card">
        <img src="~/images/6066.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Join to Our Community</h5>
            <p class="card-text">If you don't have an account please register to MyLifeStyle and become a member of our great community. Share with us your ideas, knowledge and experience.</p>
            @*<p class="card-text"><small class="text-muted">Click to view more</small></p>*@
        </div>
    </div>
</div>