@{
    this.ViewData["Title"] = "Privacy Policy";
}
    <h1>Политика за Лични данни</h1>
    <hr>
    
@*<p>Use this page to detail your site's privacy policy.</p>*@

<p>Настоящият документ съдържа Политиката за защита на личните данни на потребителите при използването на услуги и съдържание, предоставяни чрез уебсайта MyLifeStyle.
    </p>

<p>Политиката се приема на основание чл. 54 от Общите условия за потребители при ползване на услуги, стоки и съдържание, предоставяни чрез уебсайта MyLifeStyle, и отразява необходимите мерки за защита на личните данни на потребителя, съгласно изискванията на действащото българско и европейско законодателство. Политиката урежда отношенията, свързани със събирането, обработването и защитата на личните данни, отнасящи се до потребителите на услуги и съдържание, достъпни чрез уебсайта MyLifeStyle, в качеството му на администратор на лични данни.
    </p>
<p>
    За прилагането и тълкуването на настоящата Политика използваните понятия и изрази ще се употребяват със значението, с което са определени съгласно чл. 1, ал. 1 от Общите условия за потребители при ползване на услуги, стоки и съдържание, предоставяни чрез уебсайта MyLifeStyle.
</p>
<hr>
<p>
    <h5>I. ЗАЩИТА НА ВАШИТЕ ДАННИ</h5>
</p>
<p>
    На територията на всички държави в Европейския съюз от 25 май 2018 г. се прилага Общият регламент относно защитата на данните. Той защитава вашите основни права и свободи като потребители на нашите услуги, като поставя изисквания и предвижда мерки, с които личните данни, отнасящи се до вас, да бъдат винаги защитени. Повече информация за приложението на регламента може да намерите на български език в раздел „Бъдете информирани“ на уебсайта на Комисия за защита на личните данни, бидейки българският надзорен орган в областта на защитата на личните данни.
</p>
<p>
    Ние, вярваме, че защитата и опазването на поверителността, целостта и наличността на данните, отнасящи се за вас, е неизменна част от ценностите и целите на организацията и нивото на обслужване, което ви предлагаме.
</p>
<p>
    Някои от услугите, които предлагаме, изискват обработка на ваши лични данни. Настоящият документ ви дава информация за мерките за съответствие, които сме предприели, за да защитим вашите права и свободи при спазване на принципите на законосъобразно, прозрачно и добросъвестно обработване на лични данни.
</p>
<p>
    Тук можете да разберете какви лични данни обработваме, за какви цели и в какви срокове, с кого и при какви условия ги споделяме, както и получите достъп до тях и да упражните пълния обем от права, гарантирани от Общия регламент относно защитата на данните. Предоставяме ви и общ преглед на някои от начините, по които този уебсайт обработва вашите лични данни, включително използването на „бисквитки“ и социални медии.
</p>
<p>
    Във всеки момент вие можете да упражните правото си на възражение срещу обработването на лични данни, отнасящи се за вас – посредством електронната форма по-долу или като се свържете директно с нас.
</p>
<hr>
<p>
    <h5>II. ПРИНЦИПИ НА ОБРАБОТВАНЕ НА ЛИЧНИТЕ ДАННИ</h5>
</p>
<p>
    Ние обработваме лични данни при спазване на следните принципи:
    1. Законосъобразност, прозрачност и добросъвестност
    Ние обработваме лични данни, отнасящи се за вас, единствено на основания, предвидени в Общия регламент относно защитата на данните. С политиката си на прозрачност относно обработваните лични данни ние целим да създадем трайни отношения с потребителите на нашите услуги, основани на доверие и гарантирани от възможността за активното участие и контрол от страна на потребителите при осъществяването на дейностите по обработване на лични данни. Нашите дейности, основани на обработване на лични данни, се осъществяват в съответствие с принципите на добросъвестност и отчетност. Ние се стремим да предоставяме в качествена и изчерпателна, но достъпна и разбираема форма и на ясен език информацията, която е необходима за ефективното упражняване на контрол от страна на субектите на данни от регламента.

</p>
<p>
    Принципът на законосъобразно, прозрачно и добросъвестно обработване поставя субектите на данни на централно място. Той ги овластява с възможността да осъществяват контрол върху дейността на администратора и на обработващите лични данни. Така например за личните данни, обработвани на основанието на съгласие, вие имате възможността във всеки момент да оттеглите съгласието си и да упражните пълния обем от права, гарантирани от регламента, сред които правото на достъп, правото на възражение, правото на изтриване и др.
</p>
<p>
    2. Ограничение на целите
    Ние обработваме лични данни единствено за конкретни, изрично указани и легитимни цели. Тези данни не се обработват по-нататък по начин, несъвместим с тези цели. Определянето на целта е основна първа стъпка при прилагането на законовите мерки за защита на личните данни и разработването на гаранции за тяхната защита във всяка дейност по обработване. Определянето на целта е предпоставка за прилагане на други изисквания за качество на данните, включително адекватността, относимостта, пропорционалността и точността на събраните данни и изискванията относно периода на съхранение на данните. Принципът на ограничение на целите има за цел да установи границите, в рамките на които личните данни, събрани за дадена цел, могат да бъдат обработвани и могат да бъдат използвани за по-нататъшна употреба.
</p>
<p>
    Когато споделяте лични данни с нас, вие имате очаквания за целите, за които тези данни ще бъдат използвани. Ние отчитаме тези очаквания и се съобразяваме с тях, така че да съхраним доверието, което ни гласувате, и да гарантираме предвидимост на обработването. Като крайъгълен камък на режима за защитата на данните, ние се придържаме към принципа на ограничението на целите, който възпрепятства използването на лични данни за цели, различни от тези, за които първоначално са били събрани.
</p>
<p>
    3. Свеждане на данните до минимум
    Ние обработваме единствено лични данни, които са подходящи, свързани със и ограничени до необходимото във връзка с целите, за които се обработват. Нашите дейности и процеси са организирани около минимума от лични данни, които са необходими за постигането на съответните цели. Нашата платформа и процеси са проектирани по начин, който да гарантира, че обработваме единствено личните данни, които са необходими за постигане на конкретна, ясно формулирана цел.
</p>
<p>
    4. Точност
    Личните данните, които обработваме, са точни, коректни и актуални. Ние предприемаме мерки, които позволяват навременното актуализиране на данните, вкл. изтриване или заличаване на неточни или неактуални данни. В дейността си ние предприемаме редица мерки, с които да гарантираме своевременното изтриване или коригиране на неточни лични данни, като се имат предвид целите, за които те се обработват.
</p>
<p>
    5. Ограничение на съхранението
    Ние съхраняваме личните данни във форма, която да позволява идентифицирането на субекта на данните за период, не по-дълъг от необходимото за целите, за които се обработват личните данни. В случаите, в които знаем какъв е точният период, който е необходим, той е указан изрично, а във всички останали случаи предоставяме указания относно критериите, които се използват за изчисляване на този период.
</p>
<p>
    6. Сигурност на обработването
    Ние обработваме лични данни по начин, който гарантира подходящо ниво на сигурност на личните данни. Личните данни, отнасящи се за Вас, са защитени срещу неразрешено или незаконосъобразно обработване и срещу случайна загуба, унищожаване или повреждане. За постигането на съответствие с този принцип ние прилагаме подходящи технически и организационни мерки в съответствие с рисковете за Вашите основни права и свободи.
</p>
<p>
    7. Отчетност
    Обработването на лични данни се основава на доверието между вас, като субекти на данни, и нас, като администратор. Тъй като личните данни, които обработваме, могат да разкриват различни аспекти на Вашата личност, ние полагаме грижи не само да опазим доверието помежду ни, но и да противодействаме на рисковете за Вашите права и свободи, произтичащи от всяко обработване. По тази причина ние поддържаме в актуален вид информация относно мерките и средствата за съответствие, които сме предприели, вкл. политики за защита на данните, оценки на рисковете, предприети технически и организационни мерки и др.
</p>
