@using MyLifeStyle.Web.ViewModels.Categories
@model IEnumerable<AllCategoriesViewModel>

@{
    this.ViewData["Title"] = "Categories";
}

<h2>@this.ViewData["Title"]</h2>

<hr>

@foreach (var category in Model)
{
<div>@category.Name ( @category.ArticlesCount )</div>
}